<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link th:replace="index :: bootstrap"/>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="index :: header"></div>
			<div class="col-4">
				<h1>Insert new customer</h1>
				<form th:action="'/admin/add-customer'" method="post">
					<div class="form-group m-3">
						<label>enter name</label>
						<input type="text" class="form-control" name="name" placeholder="enter name"/>
					</div>
					<div class="form-group m-3">
						<label>enter email</label>
						<input type="text" class="form-control" name="email" placeholder="enter email"/>
					</div>
					<div class="form-group m-3">
						<label>enter contact number</label>
						<input type="number" class="form-control" name="phoneNumber" placeholder="enter number"/>
					</div>
					<div class="form-group m-3">
						<label>enter number of rooms</label>
						<input type="number" class="form-control" name="noofroom" placeholder="enter no of rooms" value="1"/>
					</div>
					<input type="submit" class="m-3 btn btn-primary"/>
				</form>
			</div>
		</div>
	</div>
</body>
</html>